@using app_frontEnd.Models;
@model taskCreate

<div class="row">
    <div class=" col-sm-6">
        <div class="row">
            <div class="col-sm-4">
                <label class="fw-bold">Nombre: </label>
            </div>
            <div class="col-sm-7">
                @Html.EditorFor(x => x.name, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
            </div>
        </div>
        <div class="row">
            <div class="offset-3 col-sm-9">
            </div>
        </div>
    </div>
    <div class=" col-sm-6">
        <div class="row">
            <div class="col-sm-5">
                <label class="fw-bold">Descripción: </label>
            </div>
            <div class="col-sm-7">
                @Html.EditorFor(x => x.description, new { HtmlAttributes = new { @class = "form-control form-control-sm" } })
            </div>
        </div>
        <div class="row">
            <div class="offset-3 col-sm-9">
            </div>
        </div>
    </div>
</div>
